amqp==2.5.2
anyjson==0.3.3
attrs==19.3.0
Automat==0.8.0
billiard==3.6.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
Django==2.2.6
django-crispy-forms==1.8.0
django-paypal==1.0.0
django-tempus-dominus==5.1.2.13
django-timezone-field==3.1
dnspython==1.16.0
et-xmlfile==1.0.1
future==0.18.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
itemadapter==0.1.0
itemloaders==1.0.2
jdcal==1.4.1
Jinja2==2.10.3
jmespath==0.10.0
kombu==4.6.6
lml==0.0.9
lxml==4.4.2
mailchimp3==3.0.14
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==7.2.0
mysql-connector-python==8.0.21
mysqlclient==1.4.6
nameparser==1.0.6
openpyxl==3.0.4
parsel==1.5.2
paypal==1.2.5
paypalrestsdk==1.13.1
probableparsing==0.0.1
Protego==0.1.16
protobuf==3.13.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
pyexcel==0.6.2
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
pygrok==1.0.0
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
python-crfsuite==0.9.7
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
regex==2020.10.15
requests==2.22.0
Scrapy==2.3.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
texttable==1.6.2
Twisted==20.3.0
urllib3==1.25.7
usaddress==0.5.10
vine==1.3.0
virtualenv==16.7.9
w3lib==1.21.0
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
zope.interface==4.7.1
django_redis
